a{
    word-wrap: break-word;
}
ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    li{
        margin: .2em;
    }
    img{
        width: 50vw;
        height: auto;
    }
    @media screen and (max-width: 768px){
        img{
            width: 65vw;
        }
    }
}

.home-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img{
        width: 33vw;
        height: auto;
        margin: .2em;
        border-radius: 0.5em;
    }
    @media screen and (max-width: 768px){
        img{
            width: 40vw;
            align-self: center;
        }
    }
    @media screen and (max-width: 463px){
        img{
            width: 60vw;
            align-self: center;
        }
    }

}

.small-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img{
        max-height: 11rem;
        width: auto;
        margin: .2em;
        border-radius: 0.5em;
    }
    @media screen and (max-width: 589px){
        img{
            width: 20rem;
            max-height: 15rem;
        }
    }
    @media screen and (max-width: 429px){
        img{
            height: auto;
        }
    }

}

.galeria-zdjec{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    img{
        border-radius: 1em 1em 0 0;
        height: 12rem;
        width: auto;
        transition: transform 0.3s ease-in-out;
        &:hover{
            cursor: zoom-in;
        }
    }
    .obrazek-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        box-shadow: 0 0 0.3em rgba(0,0,0,0.2);
        color: #333;
        margin: .2em;
        border-radius: 1em 1em 1em 1em;
        p{
            padding: 1em 0;
        }
    }
}