a{
    word-wrap: break-word;
}
ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    li{
        margin: .2em;
    }
    img{
        width: 50vw;
        height: auto;
    }
    @media screen and (max-width: 768px){
        img{
            width: 65vw;
        }
    }
}

.home-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img:nth-child(1){
        margin: .2em;
        border-radius: 0.5em;
        height: 10rem;
        width: auto;
    }
    img:nth-child(2){
        margin: .2em;
        border-radius: 0.5em;
        height: 7rem;
        width: auto;
    }
    @media screen and (max-width: 768px){
        img:nth-child(1){
            width: 20rem;
            height: auto;
        }
        img:nth-child(2){
            width: 18rem;
            height: auto;
        }
    }
}

.small-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img{
        max-height: 11rem;
        width: auto;
        margin: .2em;
        border-radius: 0.5em;
    }
    @media screen and (max-width: 589px){
        img{
            width: 20rem;
            max-height: 15rem;
        }
    }
    @media screen and (max-width: 429px){
        img{
            height: auto;
        }
    }

}

.zespol-info{
    text-align: left;
    border-left: 3px solid #333;
    padding: 0 0.5em;
    .kolo-nazwa{
        color: #000;
        font-weight: 600;
    }
}

.zespol-main{
    padding: 5em;
    @media screen and (max-width: 768px){
        padding: 1em;
    }
    .wrapped-iframe{
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;

        box-shadow: 0 0 0.7em rgba(0,0,0,0.3);
    }
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.articles-container{
    .article:nth-child(odd){
        background-color: #eeeeee8e;
    }
    .article{
        padding: 1em;
    }
    p.article-title{
        font-size: 1.3em;
        font-weight: normal;
        margin: 0 0 .7em 0;
        padding: 0 0.5em;
        text-align: left;
        border-left: 3px solid #333;
    }
}

.galeria-zdjec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    img{
        border-radius: 1em 1em 0 0;
        height: 12rem;
        width: auto;
        transition: transform 0.3s ease-in-out;
        &:hover{
            cursor: zoom-in;
        }
        &.big{
            height: 16rem;
        }
        @media screen and (max-width: 768px){   
            &.big{
                height: auto;
                max-height: 16rem;
            }
            &.small{
                height: auto;
                max-height: 12rem;
            }
        }
    }
    .obrazek-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        box-shadow: 0 0 0.3em rgba(0,0,0,0.2);
        color: #333;
        margin: .4em;
        border-radius: 1em 1em 1em 1em;
        @media screen and (max-width: 768px){
            
        }
        p{
            padding: 1em 0;
        }
        p.add-padding{
            padding: 1em 2em;
        }
    }
}