#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1{
  font-size: 5rem;
}

$kolorek: #646cff;
$kolorek-hover: #fff;
.kolorek{
  font-size: 5em;
  font-weight: 700;
  color: $kolorek;
  transition: color .4s, transform .4s ease-in-out;
  transform: scale(1);
  user-select: none;
  &:hover{
    color: $kolorek-hover;
    transform: scale(1.1);
    cursor: pointer;
  }
  &:focus-visible{
    outline: 2px dashed white;
    border: transparent;
  }
}