.newnavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    position: relative;
    .menu-button{
        display: none;
        order: 2;
    }
    .logo{
        order: 1;

        img{
            width: 3rem;
            height: auto;
        }
    }

    .spacer{
        display: flex;
        flex-grow: 1;
        align-items: center;

        padding-inline: 1rem;
        order: 3;
    }

    .card{
        width: calc((100% / 3) - 40px);
        padding: 1em 0;
        user-select: none;
        border-radius: 1.5em;
        transition: background-color 0.15s ease-in-out;
    
        &:hover{
            background-color: #e9ecef;
            cursor: pointer;
        }
    
        h2{
            margin-top: 0;
        }
    }

    @media screen and (max-width: 768px){
        .newnavbar{
            &.open{
                flex-direction: column;
            }
        }
        .menu-button{
            display: flex;
            padding: 1rem 2rem;
            font-size: 2rem;
            &:hover{
                cursor: pointer;
            }
        }

        .spacer{
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #f8f9fa;
            border-bottom: 1px solid #e9ecef;
            &.open{
                display: flex;
            }
            .card{
                width: 100%;
                margin: 0.5rem 0;
                &:not(:last-child){
                    border-bottom: 1px solid #e9ecef;
                }
            }
        }
    }
    @media screen and (min-width: 768px){
        .spacer{
            display: flex;
        }
    }
}

