.site-container{
  display: flex;
  flex-direction: column;
  min-height: 100%;

  main{
    flex: 1;
  }

  footer{
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    padding: 1rem 0;
  }
}